@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


html {
    border: 20px solid #3f3f3f;
    
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

/*-------------------MENU------------------*/

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form>button {
    font-size: 18px;
    font-weight: bolder;
}

/*-----------Carrousel Slider------------*/

.carousel-inner {
    max-height: 39rem;
}

/*----------------Intro----------------------*/


.card {
    border-radius: 10px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    height: 380px;
    width: 330px;
    font-family: "Roboto Condensed", sans-serif;

}

.card-img-top {
    height: 250px;
}

#map {
    height: 100%;
}
